#my rules for folders
commands

#--

config/console.php
config/params.php
config/test.php
config/test_db.php
config/web.php

#--

mail

#--

models/ContactForm.php
models/LoginForm.php
models/User.php

#--

runtime
tests
vagrant
vendor

#--

views/layouts/main.php

views/site/about.php
views/site/contact.php
views/site/error.php
views/site/index.php
views/site/login.php

#--

web/assets
web/css/site.css
web/favicon.ico
web/index-test.php
web/robots.txt

#--
widgets
.idea

#--

#my rules for files
/.bowerrc
/codeception.yml
/composer.json
/composer.lock
/docker-compose.yml
/LICENSE.md
/requirements.php
/vagrantfile
/yii
/yii.bat
